$theme-dm: (
  primary-main: #1A2762,
  primary-accent: #888888,
  icon-background: #2E2E3A,
  header-background: #1C1C1C,
  text-green: #81B761,
  text-white: #E0E0E0,
  background-default: #1C1C1C,
  background-beige: #5A4B3E,
  background-primary: #4E7A3E,
  text-beige: #BCA269,
  button-primary: #4E7A3E,
  button-primary-hover: #81B761,
  button-secondary: #888888,
  button-secondary-hover: #5A5A5A,
  button-form: #5A4B3E,
  button-form-hover: #965236,
  reservation-background: #0D0D1A,
  underline: #979797,
  footer-underline: #2E2E3A
);
