$theme:  (
primary-main: #1A2762,
primary-accent: #888888,
icon-background: #dedee4,
header-background: #f6f5f4,
text-green:#81B761,
text-white: white,
background-default: white,
background-beige: #BCA269,
background-primary: #81B761,
text-beige: #BCA269,
button-primary: #81B761,
button-primary-hover: #4E7A3E,
button-secondary: #888888,
button-secondary-hover: #5A5A5A,
button-form: #BCA269,
button-form-hover: #965236,
reservation-background: #131A38,
underline: #979797,
footer-underline: #EEF1EC
);
