.button {
    padding: 14px 40px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    &--primary {
        color: var(--text-white);
        background-color: var(--button-primary);

        &:hover {
            color: var(--text-white);
            background-color: var(--button-primary-hover);
        }
    }

    &--secondary {
        color: var(--button-secondary);
        background-color: transparent;
        border: 2px solid var(--button-secondary);

        &:hover {
            color: var(--button-secondary-hover);
            border: 2px solid var(--button-secondary-hover);
        }
    }
    &--form {
        color: var(--text-white);
        background-color: var(--button-form);

        &:hover {
            background-color: var(--button-form-hover);
        }
    }
}