@use '../tools/mixins' as mixins;

.reservation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--reservation-background);
    opacity: 0.8;
    color: var(--text-white);
    @include mixins.padding(30);
  

    @include mixins.breakpoint-up(md) {
          margin-top: -100px;
    }

    &__wrapper {
        width: 75%;
        flex-direction: column;

        @include mixins.breakpoint-up(md) {
            flex-direction: row;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        @include mixins.padding(18, bottom);
        flex-direction: column;

        @include mixins.breakpoint-up(md) {
            flex-direction: row;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;

    }

    &__telephone {
        display: flex;
        flex-direction: column;
        color: var(text-white);

        a {
            text-decoration: none;
            color: var(--text-beige);
        }
    }

    &__form {
        flex-direction: column;


        @include mixins.breakpoint-up(md) {
            flex-direction: row;
        }

        input,
        select {
            @include mixins.padding(12);
            margin-bottom: 24px;

          
        }

        select {
            width: 50px;

            @include mixins.breakpoint('md') {
                width: 100px;
            }
        }

        option[value=""][disabled] {
            display: none;
        }

        input[type='date'] {

            width: 150px;

            @include mixins.breakpoint('md') {
                width: 180px;
            }
        }

        >* {
            @include mixins.margin(12, right);
        }
    }
}